# DataScienceEcosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Sql
4. Scala
5. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. matplotlib
3. seaborn
4. pytorch
5. tensorflow
6. scipy
7. numpy
8. keras
9. NLTK

<table>
    <tr>
        <th>Data Science Tools </th>
    </tr>
    <tr>
        <td>jupyter notebook</td>
    </tr>
    <tr>
        <td>google collab</td>
    </tr>
    <tr>
        <td>R Studia</td>
    </tr>
    <tr>
        <td>vs code</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
result = 5 + 3   # Addition
print(result)   # Output: 8

result = 10 - 4  # Subtraction
print(result)   # Output: 6

result = 3 * 6   # Multiplication
print(result)   # Output: 18

result = 20 / 5  # Division (result will be a float)
print(result)   # Output: 4.0

result = 20 // 5 # Integer Division (result will be an integer)
print(result)   # Output: 4

result = 11 % 3  # Modulo (remainder of division)
print(result)   # Output: 2

result = 2 ** 3  # Exponentiation (2 raised to the power of 3)
print(result)   # Output: 8

8
6
18
4.0
4
2
8

This a simple arithmetic expression to mutiply then add integers:

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [4]:
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

<b>Objectives</b>
<ul>
    <li>List popular languages for Data Science.
    <li>Introduce common libraries used by Data Scientists.
    <li>Demonstrate how to create and use Jupyter Notebook for Data Science tasks.
    <li>Provide examples of evaluating arithmetic expressions in Python.
    <li> Illustrate how to create tables in Markdown cells for data representation.

## Author:
Nageswara vamsi krishna Manepalli